@page "/cart"
@inject ICartService CartService
@inject NavigationManager NavigationManager

<PageTitle>Giỏ Hàng</PageTitle>

<link href="css/cart.css" rel="stylesheet" />

<div class="cart-container">
    <div class="wrapper">
        <h1>
            Giỏ hàng
        </h1>


        <MudTable Items="cartItems" Hover="true" Striped="true" Dense="true" Class="mb-2">
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>Sản phẩm</MudTh>
                <MudTh>Đơn giá</MudTh>
                <MudTh>Số lượng</MudTh>
                <MudTh>Tổng giá</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Image"><MudImage Src="@context.ImageUrl" Width="100" Height="100" /></MudTd>
                <MudTd DataLabel="Title">@context.Title</MudTd>
                <MudTd DataLabel="Price">@context.Price ₫</MudTd>
                <MudNumericField @bind-Value="@context.Quantity"
                                 For="@(() => @context.Quantity)"
                                 Min="1"
                                 Style="width:100px; margin-top:48px;"></MudNumericField>
                <MudTd DataLabel="Total">@(context.Price * context.Quantity) ₫</MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.Cancel"
                                   Color="Color.Error"
                                   Variant="Variant.Filled"></MudIconButton>
                </MudTd>
            </RowTemplate>
        </MudTable>


        <div class="cart-footer">
            <p style="margin: 0 0 15px 0">
                <span style="margin: 0 0 0 10px;">Tạm tính:</span>
                <span class="h3 cart-total"> @cartItems.Sum(item => item.Price * item.Quantity) ₫</span>
            </p>
            <button class="btn-checkout" @onclick="Checkout">
                Thanh toán
            </button>
        </div>
    </div>
</div>

@code {
    private List<CartItemResponseDTO> cartItems = new List<CartItemResponseDTO>();

    protected override async Task OnInitializedAsync()
    {
        cartItems = CartService.GetCartItems();
    }

    private async Task Checkout()
    {
        NavigationManager.NavigateTo("checkout");
    }
}