@inject IAuthService AuthService

@page "/register"

<PageTitle>Đăng ký</PageTitle>

<link href="css/app.css" rel="stylesheet" />

<div class="container mt-4 p-0">
    <h1 class="page-title">Đăng ký</h1>
    <div class="row px-md-4 px-2 py-4">
        <div class="col-lg-8">
            <EditForm Model="user" OnValidSubmit="HandleRegisteration">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Email" @bind-Value="user.Email"
                                      For="@(() => user.Email)"></MudTextField>
                    </MudCardContent>
                    <MudCardContent>
                        <MudTextField Label="Mật khẩu" @bind-Value="user.Password"
                                      For="@(() => user.Password)"></MudTextField>
                    </MudCardContent>
                    <MudCardContent>
                        <MudTextField Label="Xác nhận Mật khẩu" @bind-Value="user.ConfirmPassword"
                                      For="@(() => user.ConfirmPassword)"></MudTextField>
                    </MudCardContent>
                </MudCard>
                <div class="@messageCssClass">
                    <span>@message</span>
                </div>
                <div class="mt-4">
                    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Style="float: right;">
                        Đăng ký
                    </MudButton>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    UserRegisterDTO user = new UserRegisterDTO();

    string message = string.Empty;
    string messageCssClass = string.Empty;

    public async Task HandleRegisteration()
    {
        var result = await AuthService.Register(user);
        message = result.Message;
        if (result.Success)
        {
            messageCssClass = "text-success";
        }
        else
        {
            messageCssClass = "text-danger";
        }
    }
 }