@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<link href="css/thu.css" rel="stylesheet" />

<MudLayout>
    <MudAppBar Elevation="0" Style="background-color:red;height:35px">

        <div  style="margin-left:350px">
            <MudIcon Icon="@Icons.Custom.Brands.Facebook" Color="Color.Inherit" Style="margin-left:10px" />
            <MudIcon Icon="@Icons.Custom.Brands.YouTube" Color="Color.Inherit" Style="margin-left:10px" />
            <MudIcon Icon="@Icons.Custom.Brands.Instagram" Color="Color.Inherit" Style="margin-left:10px" />
        </div>
        
        <MudSpacer />

        <div  style="margin-right:380px">
            <span><MudIcon Icon="@Icons.Material.Filled.Phone" Color="Color.Inherit" Style="font-size:large ; margin-right:10px" />(+84)190000</span>
            <span><MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Inherit" Style="font-size:large ;margin-left:30px" /> rb_online@radzenbook.com.vn</span>
        </div>
    </MudAppBar>

     <NavMenu/>

      
            @Body

</MudLayout>


@code {

  
    
}