@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />



<MudLayout >
    <MudToolBar Class="d-flex justify-space-around flex-grow-1 gap-4" Style="background-color:red;height:35px">

        <div  style="margin-left:150px">
            <MudIcon Icon="@Icons.Custom.Brands.Facebook"  Style="margin-left:10px;color:white" />
            <MudIcon Icon="@Icons.Custom.Brands.YouTube" Style="margin-left:10px;color:white" />
            <MudIcon Icon="@Icons.Custom.Brands.Instagram" Style="margin-left:10px;color:white" />
        </div>
        

        <div  style="margin-right:300px">
            <span style="color:white"><MudIcon Icon="@Icons.Material.Filled.Phone" Style="font-size:large ; margin-right:10px;color:white" />(+84)190000</span>
            <span style="color:white"><MudIcon Icon="@Icons.Material.Filled.Email" Style="font-size:large ;margin-left:30px;color:white" /> rb_online@radzenbook.com.vn</span>
        </div>
    </MudToolBar>


        <NavMenu />

        @Body 

        <NavFooter/>
</MudLayout>


@code {

  
    
}